{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="icon"
      href="{% static 'data\icons\tabicon.ico' %}"
      type="image/x-icon"
    />
    <title>Weather Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.16.34/css/grapes.min.css"
    />
    <link
      id="stylesheet-link"
      rel="stylesheet"
      type="text/css"
      href="{% static 'search.css' %}"
    />
  </head>
  <body id="search-page">
    <div class="default" id="background">
      <div id="soon"></div>
      <div class="cloud1"></div>
      <div class="cloud2"></div>
      <div class="cloud3"></div>
      <div class="cloud4"></div>
      <div class="cloud5"></div>
      <div class="cloud6"></div>
      <div class="cloud7"></div>
      <div class="cloud8"></div>
      <div class="cloud9"></div>
      <div class="cloud10"></div>
      <div class="cloud11"></div>
    </div>
    <div id="search-container">
      <form id="search-form" action="{% url 'results' %}" method="post">
        {% csrf_token %}
        <button id="locate" title="Locate Me">
          <img
            src="{% static 'data/images/locateme.png' %}"
            alt="location"
            width="20"
            height="20"
          />
        </button>
        <button id="metric-button" type="button" title="Metric">°C</button>
        <input id="metric-hidden" type="hidden" name="metric" value="C" />
        <button id="submit-button" type="submit" title="Continue">
          <img src="{% static 'data/images/submit.png' %}" alt="Submit" />
        </button>
      </form>
    </div>
    <div id="address-div">
      <input
        id="address-input"
        type="text"
        autocomplete="off"
        placeholder="Search..."
        name="Address"
      />
    </div>
    <div id="noaddress">
      <p>Please Enter an address</p>
    </div>
    <div id="invalidaddress">
      <p>Invalid Address</p>
    </div>
    <div id="credits">
      <p>
        © Copyright 2023 | Tarek Chaalan |
        <a href="https://github.com/tarekchaalan/Weather-App" target="_blank">Github</a> |
        Powered by
        <a href="https://openweathermap.org/" target="_blank">OWM</a> and
        <a href="https://www.google.com/maps" target="_blank">GoogleMaps</a>
      </p>
    </div>
    <script src="{% static 'common.js' %}"></script>
    <script src="{% static 'search.js' %}"></script>
  </body>
</html>
