body{
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}


#background {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background .7s;
  background: linear-gradient(120deg, #fff097, #5eb0d1 55%);
}

#background > #soon {
  position: absolute;
  height: 17vh;
  width: 17vh;
  border-radius: 50%;
  top: 15%;
  left: 10%;
  transition: background-color .7s, box-shadow .7s;
}

#temp span {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  opacity: 0;
}

#background.default > #soon, #background.day > #soon {
  background-color: #feffdf;
  box-shadow: 0 0 5px 35px rgba(254, 255, 223, 0.2), 0 0 10px 70px rgba(254, 255, 223, 0.2), 0 0 20px 105px rgba(254, 255, 223, 0.2);
}

#background > .cloud {
  z-index: 999;
  width: 1000px;
  height: 920px;
  position: absolute;
  background-color: #fff;
  opacity: .45;
  transition: opacity .5s;
  border-radius: 50%;
  animation: cloud 10s infinite alternate;
}

@keyframes cloud {
  100% {
      transform: translate(-50px) scale(1.05);
  }
}

#search-container {
  display: flex;
  align-items: left;
  justify-content: space-between;
  border: 1px solid #ffffff;
  border-radius: 50px;
  background-color: rgb(255, 255, 255, 0.25);
  transition: 0.3s ease-in-out;
  flex-wrap: fixed;
  width: 600px;
  min-height: 40px;
  max-height: 40px;
  position: fixed;
  overflow: hidden;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
}

#search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;  /* New */
  align-items: center;
}

#address-input {
  all: unset;
  height: 100%;
  vertical-align: top;
  margin: 0 0 0 15px;
  flex: 2;
  font-size: 25px;
  width: 470px;
  min-width: 100px;
  border: none;
  outline: none;
  background: transparent;
  margin-left: 10px;
  /*transform: translateX(-170px);*/
  color: white;
  opacity: 0.75;
}

#address-input:focus {
  outline: none;
  border: none;
  background: transparent;
}

#address-input::placeholder {
  font-size: 25px;
  color: white;
  opacity: 0.75;
}

#address-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}

#locate {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  left: -275px;
}

#locate img {
  transition: 0.3s ease-in-out;
  width: 25px;
  height: 25px;
}

#locate img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

#metric-button {
  position: fixed;
  background: none;
  transition: 0.3s ease-in-out;
  font-size: 23px;
  margin-top: 3.5px;
  left: 235px;
}

#metric-button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

#submit-button {
  position: fixed;
  background: none;
  left: 275px;
  top: 5px;
}

#submit-button img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

#submit-button img {
  transition: 0.3s ease-in-out;
  width: 20px;
  height: 20px;
}

i.fas.fa-arrow-right {
  font-size: 24px;
  color: white;
}

#credits {
  position: fixed;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;  /* You can adjust this */
  text-align: center;  /* Aligns the text to the center */
  margin: 10px 0;  /* Top and bottom margin */
  color: white;
  font-size: 12px;
  opacity: 0.8;
  white-space: nowrap;  /* Prevents the text from wrapping */
}

#credits a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from the parent, which is white in your case */
}

/* Button Styles */
button {
  background: #50b3a2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Input Fields */
input[type="text"] {
  padding: 12px;
  display: block;
  border-radius: 15px;
  background-color: transparent;
  width: 50%;
  font-size: larger;
  color: white;
}